[submodule ".emacs.d/scala-mode2"]
	path = .emacs.d/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule ".emacs.d/sbt-mode"]
	path = .emacs.d/sbt-mode
	url = git://github.com/hvesalai/sbt-mode.git
[submodule ".emacs.d/ensime-emacs"]
	path = .emacs.d/ensime-emacs
	url = https://github.com/ensime/ensime-emacs.git
[submodule ".emacs.d/dash.el"]
	path = .emacs.d/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/dash"]
	path = .emacs.d/dash
	url = https://github.com/magnars/dash.el.git
